span.entityreference-status {
  display: block;
}

input.form-autocomplete.entityreference-status-0,
span.entityreference-status-0,
option.entityreference-status-0,
.form-radios .entityreference-status-0 label,
.form-checkboxes .entityreference-status-0 label {
  background-color: #ff9999;
  color: #ffeeee;
}

#autocomplete li.selected span.entityreference-status-0,
option.entityreference-status-0::-moz-selection{
  background-color: #ff0000;
  color: #ffffff;
}

mark.entityreference-status-tags-0 {
  background-color: #ff9999;
}

mark {
  background-color: transparent;
}
